<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520000671567-6uj2t9sib2hcoe4s5hq7j6ki1uai7ejc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520000671567-6uj2t9sib2hcoe4s5hq7j6ki1uai7ejc</string>
	<key>API_KEY</key>
	<string>AIzaSyDoqE9Fqg4lISXHWFQzghJZpJzz3y9vmx4</string>
	<key>GCM_SENDER_ID</key>
	<string>520000671567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>cantwait441</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwait441.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520000671567:ios:9d8fa1a09b95d15aceff3a</string>
</dict>
</plist>